<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nkemavaha.natereactnativeandroidmodule">

    <application>
        <activity android:name=".ReactAndroidActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

    </application>

</manifest>